*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}
.container{
    width: 500px;
    min-height: 100vh;
    margin:  0 auto;
    padding: 50px;
}
#my_computer{
    margin: 0 auto;
    max-width: 300px;
}
button{
    height: 12px;
    width: 12px;
    line-height: 12px;
    font-size: 16px;
    padding:  0 ;
    border: 1px solid black;
    color: lightblue;
    margin-left: 10px;
}


button:hover{
    background-color: lightgray;
}
#my_computer ul ul{
 margin-left: 30px;
}
ul{
    position: relative;
}
#my_computer > ul  > li button:before,
#my_computer > ul  > li > ul > li button:before,
#my_computer > ul  > li button.plus:before,
#my_computer > ul  > li > ul > li button.plus:before{
    content: '';
    background-image: url(img/folder.png);
    width: 15px;
    height: 15px;
    padding: 5px;
    background-position: -4px -5px;
    background-size: 60px;
    position: absolute;
    left: -30px;
}

#my_computer > ul  > li button.minus:before,
#my_computer > ul  > li > ul > li button.minus:before{
    content: '';
    background-image: url(img/folder.png);
    width: 15px;
    height: 15px;
    padding: 5px;
    background-position: -35px -5px;
    background-size: 60px;
    position: absolute;
    left: -30px;
}




li:not(button) li:before{
    content: '';
    
    background-image: url(img/file.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px;
    position: absolute;
    left: -25px;
    width: 14px;
    height: 14px;
    padding: 5px;
   }